<!--
  Zerg Driver and mux
 -->
<launch>
    <node pkg="gki_zerg_mcclient" type="mcclient" name="zerg_mcclient" args="-c $(find gki_zerg_mcclient)/configs/zerg1.xml" respawn="false">
        <remap from="cmd_vel" to = "mobile_base/commands/velocity"/> 
        <param name="device" value="/dev/sensors/ftdi_DPCDKR2R"/>
    </node>

  <!--node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
    <remap from="imu_data" to="mobile_base/sensors/imu_data"/>
    <remap from="robot_pose_ekf/odom" to="odom_combined"/>
    <param name="freq" value="10.0"/>
    <param name="sensor_timeout" value="1.0"/>
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="true"/>
    <param name="vo_used" value="false"/>
    <param name="output_frame" value="odom"/>
  </node-->

  <!-- velocity commands multiplexer -->
  <node pkg="nodelet" type="nodelet" name="cmd_vel_mux_manager" args="manager"/>
  <node pkg="nodelet" type="nodelet" name="cmd_vel_mux" args="load cmd_vel_mux/CmdVelMuxNodelet cmd_vel_mux_manager">
      <!--node pkg="nodelet" type="nodelet" name="cmd_vel_mux" args="load cmd_vel_mux/CmdVelMuxNodelet mobile_base_nodelet_manager"-->
      <param name="yaml_cfg_file" value="$(find gki_zerg_bringup)/config/mux.yaml" />
      <!-- <remap from="cmd_vel_mux/output" to="mobile_base/commands/velocity"/> -->
  </node>

</launch>
